<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greetings</title>
  </head>
  <body>
    <div class="colgroup">
      <p>Welcome to this site <%=@name%></p>
    </div>
  </body>
</html>
